.meal-card {
  width: 96%;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
}
.meal-card img {
  width: 100%;
}
.meal-card p {
  text-align: justify;
  padding: 5px;
}

.meal-btn {
  border: 2px solid #ff5200;
  outline: none;
  padding: 10px 25px;
  background: transparent;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.meal-btn:hover {
  background: #ff5200;
  color: white;
}
